.container {
    min-height: -webkit-fill-available;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.btn-create,
.btn-import,
.btn-export {
    padding: 7px 18px;
    border-radius: 8px;
}

.btn-edit,
.btn-delete,
.btn-detail {
    padding: 7px 23px;
}

.btn-create {
    background-color: aquamarine;
}

.btn-import {
    background-color: coral;
}

.btn-export {
    background-color: blueviolet;
}

.btn-search {
    background-color: aquamarine;
}

.search-input {
    width: 300px;
}

.icon {
    font-size: 18px;
}

.btn-detail .info-icon {
    color: white;
}

.category-list .table {
    width: 750px;
    min-width: 300px;
}

.categories ~ .categories::before {
    content: ", ";
}

.create-side {
    width: 350px;
    margin-top: 65px;
}

.create-card,
.success-alert {
    width: 800px;
    margin: 0 auto;
}

.image {
    width: 180px;
}

.post-img {
    width: 120px;
    height: 110px;
    border: 1px solid black;
}

.form {
    width: 500px;
    float: right;
}

.required {
    color: red;
}

.btn-submit {
    clear: both;
    float: right;
}

.detail-card {
    width: 750px;
    margin: 0 auto;
}

.detail-card .post-img {
    width: 280px;
    height: 280px;
}

.detail-card .image {
    border: 0;
}

.post-detail .date {
    width: 250px;
}

.post-detail .category,
.comment .comment-user {
    background-color: rgb(11, 85, 85);
    color: aliceblue;
    border: 1px rgb(11, 85, 85) solid;
    border-radius: 5px;
    padding: 0 5px;
}

.comment .comment-body {
    background-color: aliceblue;
    border: 1px aliceblue solid;
    border-radius: 5px;
    padding: 5px 8px;
}

/* login form */
.logo {
    width: 165px;
    height: 110px;
    margin: 0 auto;
}
.login-form, 
.register-form {
    width: 400px;
    min-width: 300px;
}
.btn-custom {
    background-color: goldenrod;
}
.btn-custom:hover {
    background-color: rgb(65, 224, 184);
}

.all-comment {
    max-height: 160px;
    overflow-y: scroll;
}


